@import "../../scss/abstracts/variables";
.wrapper {
  height: 100%;
  background: var(--black);
  padding: 0px 50px;
  font-family: "Switzer";
  font-style: normal;
  z-index: 30;
  overflow: hidden;
  .projectDescriptionInner {
    position: relative;
    display: grid;
    grid-template-areas:
      "title title image image"
      "description description image image"
      "links links image image";

    border-bottom: 1px solid var(--white);
    @media (max-width: $layout-breakpoint-small) {
      grid-template-areas:
        "title title title title"
        "image image image image"
        "description description description description "
        "links links links links";
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  grid-area: title;
  padding-top: 50px;
  width: 100%;

  @media (max-width: $layout-breakpoint-small) {
    margin-bottom: 36px;
  }

  @media (max-width: $layout-breakpoint-xsmall) {
    margin-bottom: 24px;
  }

  .titleText {
    font-weight: 700;
    font-size: 80px;
    line-height: 119px;
    color: var(--white);
    margin: 0px;
    @media (max-width: 1024px) {
      font-size: 64px;
      line-height: 95px;
    }
    @media (max-width: $layout-breakpoint-small) {
      font-size: 56px;
      line-height: 56px;
    }
    @media (max-width: $layout-breakpoint-xsmall) {
      font-size: 39px;
      line-height: 55px;
    }
  }
  .subTitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--white);
    margin-left: 3px;
    @media (max-width: 1024px) {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
.description {
  grid-area: description;
  font-family: "Switzer";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--white);
  margin-top: 224px;
  @media (max-width: 1024px) {
    font-size: 14px;
    line-height: 18px;
  }
  @media (max-width: $layout-breakpoint-small) {
    margin-top: 36px;
  }
  .tools {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
  }
  .tools::after {
    position: absolute;
    bottom: -10px;
    left: 0px;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(238, 238, 238, 0.3);
  }
}

.boxImage {
  grid-area: image;
  border-left: 1px solid var(--white);
  width: 48vw;
  margin-left: 50px;
  padding: 50px;
  @media (max-width: $layout-breakpoint-medium) {
    padding: 25px;
    margin-left: 25px;
  }
  @media (max-width: $layout-breakpoint-small) {
    padding: 0;
    margin-left: 0px;
    width: 100%;
  }
  @media (max-width: $layout-breakpoint-xsmall) {
  }
  .image {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    object-position: center;
  }
}

.links {
  grid-area: links;
  margin-top: 104px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding-bottom: 50px;
  @media (max-width: $layout-breakpoint-small) {
    margin-top: 24px;
    justify-content: flex-start;
  }
  @media (max-width: $layout-breakpoint-xsmall) {
    padding-bottom: 36px;
  }
}

.nextProject {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: var(--black);
  padding: 84px 0px 50px 0px;
  @media (max-width: $layout-breakpoint-small) {
    flex-direction: column;
    align-items: flex-start;
    padding: 36px 0px 36px 0px;
  }
  .nextProjectLink {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--white);
    gap: 20px;
    overflow: hidden;
    &:hover .imageBlock .linkImg {
      transition: 0.3 ease;
      margin-left: 0px;
    }
    .linkTitle {
      display: block;
      overflow: hidden;
      z-index: 200;
    }

    .imageBlock {
      width: 30px;
      display: flex;
      gap: 30px;
      overflow: hidden;
      .linkImg {
        transition: 0.3s ease;
        margin-left: -49px;
      }
      &::after {
        display: block;
        margin-top: 5px;
        content: url("../../utils/images/arrow.svg");
        color: var(--white);
        overflow: hidden;
      }
    }
    @media (max-width: $layout-breakpoint-medium) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .nextProjectTitle {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 119px;
    color: grey;
    cursor: default;
    &:hover {
      color: var(--white);
    }
    @media (max-width: $layout-breakpoint-medium) {
      font-size: 56px;
      line-height: 83px;
    }
    @media (max-width: $layout-breakpoint-small) {
      font-size: 56px;
      line-height: 83px;
    }
    @media (max-width: $layout-breakpoint-xsmall) {
      font-size: 40px;
      line-height: 71px;
    }
  }
}

.backColor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  overflow: hidden;
  display: flex;
  justify-content: center;
  .backTitle {
    position: absolute;
    top: 40vh;
    font-size: 80px;
    color: white;
    @media (max-width: $layout-breakpoint-medium) {
      font-size: 56px;
      line-height: 83px;
    }
    @media (max-width: $layout-breakpoint-small) {
      font-size: 56px;
      line-height: 83px;
      text-align: center;
    }
    @media (max-width: $layout-breakpoint-xsmall) {
      font-size: 48px;
      line-height: 71px;
    }
  }
}

@keyframes arrowMove {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translate(5px);
  }
}
