.secondSection {
  margin-bottom: 100px;
  height: 360px;
  display: grid;
  grid-template: 1fr/1fr 1fr;

  .introduce {
    font-family: "Switzer";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #eeeeee;
    padding-top: 50px;
    padding-right: 100px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  .working {
    padding: 50px 51px 39px 51px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #3d48bf;
    border-radius: 0px 24px 24px 0px;
    .title {
      font-family: "Switzer";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 42px;
      text-transform: uppercase;
      color: #eeeeee;
    }
    .content {
      font-family: "Switzer";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      color: #eeeeee;
    }
  }
}
