@import "../../scss/abstracts/variables";

.wrapper {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.title {
  display: flex;
  flex-direction: column;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  @include adaptive-FS(56, 180);
  color: #eeeeee;
}

.titleBottom {
  display: flex;
  align-items: center;
}

.gifWrapper {
  position: relative;
  flex: 1;
  align-self: center;
  height: 360px;
  max-width: 380px;
  min-width: 200px;
  width: 100%;
  display: grid;
  grid-template: 1fr / repeat(2, minmax(300px, auto));
  overflow: hidden;
  border-radius: 24px;
  @media (max-width: 1024px) {
    height: 248px;
  }
  @media (max-width: $layout-breakpoint-small) {
    display: none;
  }
}

.gif {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(https://media.giphy.com/media/cXblnKXr2BQOaYnTni/giphy.gif);
  background-size: cover;
  background-position: center;
}
