.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid white;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: white;
  .logo {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #eeeeee;
    cursor: pointer;
  }
  .navigation {
    display: flex;
    list-style-type: none;
    gap: 80px;
    .navigationItem {
      font-family: "Oswald";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      cursor: pointer;
    }
  }
}

.burger {
  margin: auto 0;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #eee;
    transition: 0.3s linear;
  }
  span:nth-child(1) {
    top: 15px;
  }
  span:nth-child(2) {
    bottom: 15px;
  }
}

.burger.active span:nth-child(1) {
  top: 15px;
  transform: rotate(45deg);
}
.burger.active span:nth-child(2) {
  bottom: 30px;
  transform: rotate(-45deg);
}
