@import "../../scss/abstracts/variables";

.wrapper {
  height: 105px;
  background: var(--black);
  padding: 50px 50px 0px 50px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: 1px solid white;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: white;
    .logo {
      font-family: "Oswald";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      cursor: pointer;
      .logoLink {
        text-decoration: none;
        color: var(--white);
      }
    }
    .navigation {
      display: flex;
      list-style-type: none;
      gap: 80px;
      @media (max-width: $layout-breakpoint-xsmall) {
        display: none;
      }
      .navigationItem {
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        cursor: pointer;
      }
    }
  }
}

.burger {
  display: none;
  margin: auto 0;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  @media (max-width: $layout-breakpoint-xsmall) {
    display: block;
  }
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: var(--white);
    transition: 0.3s linear;
  }
  span:nth-child(1) {
    top: 12px;
  }
  span:nth-child(2) {
    bottom: 12px;
  }
}

.burger.active span:nth-child(1) {
  top: 12px;
  transform: rotate(45deg);
}
.burger.active span:nth-child(2) {
  bottom: 24px;
  transform: rotate(-45deg);
}
