@import "../../scss/abstracts/variables";

.wrapper {
  height: 105px;
  background: var(--black);
  padding: 50px 50px 0px 50px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: 1px solid white;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: white;
    .logo {
      font-family: "Oswald";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      cursor: pointer;
      .logoLink {
        text-decoration: none;
        color: var(--white);
      }
    }
    .navigation {
      display: flex;
      list-style-type: none;
      gap: 80px;
      @media (max-width: $layout-breakpoint-xsmall) {
        flex-direction: column;
        gap: 8px;
      }
      .navigationItem {
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        cursor: pointer;
        @media (max-width: $layout-breakpoint-xsmall) {
          font-weight: 300;
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
  }
}
