.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Switzer";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #eeeeee;
}
